{% extends "layout.html" %}

{% block content %}
<h1>Coach Pikachu</h1>

<form method="GET" action="{% url 'coach_home' %}" class="team-select-form">
    <label for="team_id">Select a team:</label>
    <select name="team_id" id="team_id" onchange="this.form.submit()">
        <option value="">-- Choose a team --</option>
        {% for team in teams %}
            <option value="{{ team.id }}" {% if selected_team.id == team.id %}selected{% endif %}>
                {{ team.name }}
            </option>
        {% endfor %}
    </select>
</form>

{% if selected_team %}
    <h2>Summary for your awesome team called "{{ selected_team.name }}"</h2>

    <div class="team-summary-list">
        {% for slot in selected_team.slots %}
            {% if slot.pokemon_name %}
                <div class="pokemon-summary-card">
                    <p>{{ slot.pokemon_name }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

     <div class="coach-review-card">
        <h2>Pikachu's Analysis & Suggestions</h2>
        <div class="coach-text">
            {{ feedback|linebreaks }}
        </div>
    </div>
{% endif %}
{% endblock %}
